<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>
Key points
- The app does not store or request any personal information
- Feedback emails are stored temporarily, once the issue is resolved your email will be deleted
- Our partners will collect data and use an unique identifier on your device to show you relevant ads
- In the About &amp; Privacy menu you can select if you we can continue to use your data to tailor ads for you

You can view the full privacy policy here:
http://pigdogbay.blogspot.com/2018/05/privacy-policy.html

For further information contact pigdogbay@yahoo.co.uk
			</string>
		</dict>
	</array>
</dict>
</plist>
